<script src="{{assets}}/scripts/lib/modernizr.min.js" type='text/javascript'></script>
<script src="{{assets}}/scripts/lib/jquery-3.4.1.min.js" type='text/javascript'></script>
<script src="{{assets}}/scripts/lib/jquery-migrate-3.0.1.min.js" type='text/javascript'></script>
<script src="{{assets}}/scripts/min/page_plugins.js" type='text/javascript'></script>
<script src="{{assets}}/scripts/min/page.js" type='text/javascript'></script>

<script>
  $(function () {
    $('[data-select]').selectric({ disableOnMobile: false, nativeOnMobile: false });
  })

  /* var formControl = {
     fileUpload: function () {
       var t = document.querySelectorAll('[data-p-fileupload');
 
       if (t) {
         t.forEach(function (e) {
           var m = e.parentElement;
           var s = m.querySelector('.uploadFileName');
 
           e.onchange = function (el) {
             s.innerText = el.target.value;
           }
         })
       }
     },
 
     init: function () {
       this.fileUpload();
     }
   }
 
   formControl.init();
 */


  var loginSwiper = new Swiper(".loginSwiper", {
    pagination: {
      el: ".swiper-pagination",
    },
    spaceBetween: 20,
  });

  new dateDropper({
    selector: '.datepick',
    expandedOnly: true,
    format: "dd-mm-y",
    customClass: 'datePickStyle',
    //overlay: true,
    showArrowsOnHover: false,
  });

  new dateDropper({
    selector: '.datepick-ar',
    expandedOnly: true,
    format: "dd-mm-y",
    customClass: 'datePickStyle',
    showArrowsOnHover: false,
    lang: 'ar'
  });

  $('.tabList ul.tabs li span').click(function () {
    var tab_id = $(this).attr('data-tab');

    $('.tabList ul.tabs li span').removeClass('current');
    $('.tab-content').removeClass('current');

    $(this).addClass('current');
    $("#" + tab_id).addClass('current');
  })

  $("#example-basic").steps({
    headerTag: "h3",
    bodyTag: "section",
    transitionEffect: "fade",
    transitionEffectSpeed: 400,
    autoFocus: true,
    onInit: function (event, currentIndex) {
      console.log($(this), currentIndex)
      $('.actions ul li:nth-child(1)').after('<li aria-hidden="false" aria-disabled="false"><a href="#save" role="menuitem">Save as draft</a></li>');
      $('.actions ul li:nth-child(2)').before('<li aria-hidden="false" aria-disabled="false"><a href="#cancel" role="menuitem">Cancel</a></li>');
      $('.steps ul li:nth-child(1)').append('Applicant Information');
      $('.steps ul li:nth-child(2)').append('Request Information');
      $('.steps ul li:nth-child(3)').append('Delivery Information');
      $('.steps ul li:nth-child(4)').append('Review');
    }
  });






</script>