<footer>

  <div class="container">
    {{!-- <div class="fFirstWrap">
      <div class="clientLogoWrap">
        <div class="topLogoWrap">
          <div class="parItem">
            <a href="#" class="inner_">
              <div class="imgBox ">
                <picture>
                  <img src="{{assets}}/images/logo2.svg" loading="lazy" alt="" width="490" height="118">
                </picture>
              </div>
            </a>
          </div>
          <div class="parItem">
            <a href="#" class="inner_">
              <div class="imgBox ">
                <picture>
                  <img src="{{assets}}/images/partnerimg2.svg" loading="lazy" alt="" width="490" height="118">
                </picture>
              </div>
            </a>
          </div>
        </div>
        <div class="BottomLogoWrap">
          <div class="parItem">
            <a href="#" class="inner_">
              <div class="imgBox ">
                <picture>
                  <img src="{{assets}}/images/UAELogo.svg" loading="lazy" alt="" width="490" height="118">
                </picture>
              </div>
            </a>
          </div>
          <div class="parItem">
            <a href="#" class="inner_">
              <div class="imgBox ">
                <picture>
                  <img src="{{assets}}/images/logo171.svg" loading="lazy" alt="" width="490" height="118">
                </picture>
              </div>
            </a>
          </div>
        </div>

        <div class="metaWrap">
          <div class="mItem">
            <div class="label">{{langName 'آخر تحديث في' 'Last updated on'}}</div>
            <strong>{{langName 'الثلاثاء 22 نوفمبر 2022' 'Tuesday, 22 November 2022'}}</strong>
          </div>
          <div class="mItem">
            <div class="label">{{langName 'أفضل عرض في' 'best viewed in'}}</div>
            <strong dir="ltr">1280x1024</strong>
          </div>
        </div>
      </div>

      <div class="footerNav">
        <div class="title_">{{langName 'روابط سريعة' 'Quick links'}}</div>

        <ul>
          <li>
            <a href="{{ menuLink 'tax.gov.ae' }}" class="link_">
              <span>{{langName 'tax.gov.ae' 'tax.gov.ae'}}</span>
            </a>
          </li>
          <li>
            <a href="{{ menuLink '#' }}" class="link_">
              <span>{{langName 'ضريبة الإمارات' 'EmaraTax'}}</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="footerNav">
        <div class="title_">{{langName 'روابط أخرى' 'Other links'}}</div>

        <ul>
          <li>
            <a href="{{ menuLink 'about' }}" class="link_">
              <span>{{langName 'عن' 'About'}}</span>
            </a>
          </li>
          <li>
            <a href="{{ menuLink 'index' }}" class="link_">
              <span>{{langName 'الامتيازات' 'Privileges'}}</span>
            </a>
          </li>
          <li>
            <a href="{{ menuLink 'index' }}" class="link_">
              <span>{{langName 'أهداف' 'Objectives'}}</span>
            </a>
          </li>
          <li>
            <a href="{{ menuLink 'index' }}" class="link_">
              <span>{{langName 'خدمات' 'Services'}}</span>
            </a>
          </li>
          <li>
            <a href="{{ menuLink 'index' }}" class="link_">
              <span>{{langName 'اتصل بنا' 'Contact us'}}</span>
            </a>
          </li>
          <li>
            <a href="{{ menuLink 'login' }}" class="link_">
              <span>{{langName 'تسجيل الدخول' 'Login'}}</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="addressWrap">
        <div class="title_">{{langName 'موقعنا' 'Our location'}}</div>

        <div class="addreItem">
          <div class="icon">
            <svg viewBox="0 0 14.83 18.358">
              <path
                d="M7.259,18.358a3.749,3.749,0,0,1-.5-.415q-2.668-3.119-5.322-6.251a5.991,5.991,0,0,1-1.421-3.6A7.3,7.3,0,0,1,3.89.881,6.924,6.924,0,0,1,8,.027a7.109,7.109,0,0,1,4.184,1.718A7.388,7.388,0,0,1,14.752,6.41a7.1,7.1,0,0,1-.54,3.957,6.266,6.266,0,0,1-1,1.52q-2.615,3.07-5.234,6.138a2.648,2.648,0,0,1-.429.333ZM7.4,16.723c.039-.043.06-.064.079-.087Q9.641,14.1,11.8,11.557a9.1,9.1,0,0,0,1.043-1.362,5.51,5.51,0,0,0,.379-4.675,5.913,5.913,0,0,0-5.244-4.2A5.721,5.721,0,0,0,4.161,2.2,6.018,6.018,0,0,0,1.3,6.82,5.333,5.333,0,0,0,2.566,11.05c1.282,1.483,2.543,2.982,3.814,4.475l1.02,1.2"
                transform="translate(0 0.001)" fill="#2a415e" opacity="0.35" />
              <path
                d="M88.427,92.065a3.593,3.593,0,1,1,3.613-3.532,3.608,3.608,0,0,1-3.613,3.532m2.332-3.6a2.308,2.308,0,1,0-2.3,2.314,2.313,2.313,0,0,0,2.3-2.314"
                transform="translate(-81.048 -81.066)" fill="#2a415e" opacity="0.35" />
            </svg>
          </div>
          <span>Emirates Property Investment Company Building, P.O. Box 2440, Abu Dhabi, U.A.E</span>
        </div>
        <div class="addreItem">
          <div class="icon">
            <svg viewBox="0 0 14.83 18.358">
              <path
                d="M7.259,18.358a3.749,3.749,0,0,1-.5-.415q-2.668-3.119-5.322-6.251a5.991,5.991,0,0,1-1.421-3.6A7.3,7.3,0,0,1,3.89.881,6.924,6.924,0,0,1,8,.027a7.109,7.109,0,0,1,4.184,1.718A7.388,7.388,0,0,1,14.752,6.41a7.1,7.1,0,0,1-.54,3.957,6.266,6.266,0,0,1-1,1.52q-2.615,3.07-5.234,6.138a2.648,2.648,0,0,1-.429.333ZM7.4,16.723c.039-.043.06-.064.079-.087Q9.641,14.1,11.8,11.557a9.1,9.1,0,0,0,1.043-1.362,5.51,5.51,0,0,0,.379-4.675,5.913,5.913,0,0,0-5.244-4.2A5.721,5.721,0,0,0,4.161,2.2,6.018,6.018,0,0,0,1.3,6.82,5.333,5.333,0,0,0,2.566,11.05c1.282,1.483,2.543,2.982,3.814,4.475l1.02,1.2"
                transform="translate(0 0.001)" fill="#2a415e" opacity="0.35" />
              <path
                d="M88.427,92.065a3.593,3.593,0,1,1,3.613-3.532,3.608,3.608,0,0,1-3.613,3.532m2.332-3.6a2.308,2.308,0,1,0-2.3,2.314,2.313,2.313,0,0,0,2.3-2.314"
                transform="translate(-81.048 -81.066)" fill="#2a415e" opacity="0.35" />
            </svg>
          </div>
          <span>Emirates Property Investment Company Building, P.O. Box 2440, Abu Dhabi, U.A.E</span>
        </div>
        <a href="#" class="addreItem boldItem">
          <div class="icon">

            <svg viewBox="0 0 17.031 16.981">
              <path
                d="M0,4.255a4.4,4.4,0,0,1,.192-.461A11.869,11.869,0,0,1,1.914,1.463,15.652,15.652,0,0,1,3.171.275.984.984,0,0,1,4.694.49a20.165,20.165,0,0,1,2.075,3.4c.063.137.11.282.164.423a.989.989,0,0,1-.269,1.149c-.322.3-.659.594-1,.88a.2.2,0,0,0-.07.267,7.658,7.658,0,0,0,4.617,4.631.222.222,0,0,0,.3-.074c.267-.324.546-.639.829-.949a1,1,0,0,1,1.251-.282c.626.295,1.252.6,1.848.947.623.365,1.213.787,1.815,1.188a1.307,1.307,0,0,1,.555.78.641.641,0,0,1-.069.538,5.757,5.757,0,0,1-.524.719,15.072,15.072,0,0,1-2.977,2.453,1.663,1.663,0,0,1-1.322.167,11.674,11.674,0,0,1-3.907-1.61A19.2,19.2,0,0,1,1.378,8.23a10.835,10.835,0,0,1-1.256-3.3Q.091,4.763.068,4.6c-.015-.11-.025-.22-.038-.33L0,4.255M3.818,1.149c-.058.049-.086.07-.111.093A15.8,15.8,0,0,0,1.326,4.008a.77.77,0,0,0-.123.634A9.664,9.664,0,0,0,2.256,7.5a17.968,17.968,0,0,0,6.608,6.82,9.544,9.544,0,0,0,3.557,1.346.409.409,0,0,0,.256-.057,14.5,14.5,0,0,0,2.272-1.8c.25-.242.487-.5.74-.756-.078-.062-.136-.11-.2-.154A20.659,20.659,0,0,0,12.4,11.056a.276.276,0,0,0-.4.084c-.34.4-.7.782-1.05,1.172a.508.508,0,0,1-.562.145,7.828,7.828,0,0,1-2.593-1.229,8.5,8.5,0,0,1-3.318-4.49c-.209-.666-.249-.529.272-1.057.322-.328.686-.615,1.035-.915a.16.16,0,0,0,.047-.235c-.381-.688-.741-1.389-1.137-2.068-.261-.447-.571-.864-.872-1.314"
                transform="translate(0.093 0.101)" fill="#2a415e" stroke="#21425f" stroke-width="0.2" opacity="0.35" />
            </svg>
          </div>
          <span dir="ltr">800 82923</span>
        </a>
        <a href="#" class="addreItem boldItem">
          <div class="icon">
            <svg viewBox="0 0 17.089 12.868">
              <path
                d="M16.89,1.354v9.962a.253.253,0,0,0-.028.056,1.577,1.577,0,0,1-1.615,1.3q-6.8,0-13.6,0A1.582,1.582,0,0,1,0,11.026Q0,6.335,0,1.644A1.864,1.864,0,0,1,.051,1.2,1.581,1.581,0,0,1,1.659,0h12.2c.495,0,.989-.006,1.484,0a1.581,1.581,0,0,1,1.47,1.1c.026.082.05.165.074.248M1.056,2.213v.192q0,4.3,0,8.593a.543.543,0,0,0,.619.615H15.216A.541.541,0,0,0,15.834,11q0-4.3,0-8.61c0-.046,0-.093-.007-.162-.06.049-.1.082-.142.117Q12.269,5.3,8.854,8.261a.539.539,0,0,1-.82,0L2.14,3.152,1.056,2.213M15.5,1.108C15.3,1.029,1.544,1.04,1.4,1.117l7.042,6.1L15.5,1.108"
                transform="translate(0.099 0.1)" fill="#2a415e" stroke="#21425f" stroke-width="0.2" opacity="0.35" />
            </svg>
          </div>
          <span>info@tax.gov.ae</span>
        </a>
      </div>
    </div> --}}
    <div class="fLastWrap">

      <div class="copyWrap">
        <p>{{langName '© 2023 الهيئة الاتحادية للضرائب. كل الحقوق محفوظة' '© 2023 Federal Tax Authority. All
          rights reserved'}}</p>
      </div>

      <div class="footerNav">
        <ul>
          <li>
            <a href="{{ menuLink 'Contact' }}" class="link_">
              <span>{{langName 'اتصل بنا' 'Contact us'}}</span>
            </a>
          </li>
          <li>
            <a href="{{ menuLink 'faq' }}" class="link_">
              <span>{{langName 'التعليمات' 'FAQ'}}</span>
            </a>
          </li>

          <li>
            <a href="{{ menuLink 'Customer Happiness Charter' }}" class="link_">
              <span>{{langName 'ميثاق إسعاد المتعاملين' 'Customer Happiness Charter'}}</span>
            </a>
          </li>
        </ul>
      </div>


    </div>

  </div>
</footer>