<header id="header">
  <div class="navbar ">
    <div class="logoBox">
      <a class="navbar-brand " href="{{ menuLink 'login'  }}" title="logo" aria-label="logo">
        <img src="{{assets}}/images/logo2.svg" class="lg_ " alt="">
      </a>
    </div>
    <div class="rightBox">
      <div class="lBox">
        <ul class="sMenu">
          <li class="smallMr burger_li no_hide">
            <button class="menu_trigger" data-traget="master_menu" aria-label="Burger Menu">
              <svg width="100%" viewBox="0 0 100 100">
                <path
                  style="transition:stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1)"
                  class="index-module--line--WO7RZ index-module--line1--xbUp"
                  d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058">
                </path>
                <path
                  style="transition:stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1)"
                  class="index-module--line--WO7RZ index-module--line2--8ufvz" d="M 20,50 H 80"></path>
                <path
                  style="transition:stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1)"
                  class="index-module--line--WO7RZ index-module--line3--PsLzv"
                  d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942">
                </path>
              </svg>
            </button>
          </li>
        </ul>
      </div>
      <div class="logoBox">
        <a class="navbar-brand" href="#" title="logo" aria-label="logo">
          <img src="{{assets}}/images/uae_logo.svg" class="sm_ " alt="">
        </a>
      </div>
    </div>

  </div>

  <div class="nav_box_wrapper" id="master_menu">
    <div class="sideNavWrap ">
      <div class="navWrap">
        <ul class="navList">
          <li class="navItem"><a href="{{ menuLink 'certificateRequest'  }}"
              class="navLink more normalInverted_ v2 active"><svg xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 21.5" width="21" height="21">
                <g id="Icon" transform="translate(0 0.75)">
                  <rect id="Area" fill="" opacity="0" />
                  <g id="Icon-2" data-name="Icon" transform="translate(1.29 2.498)">
                    <path id="ddc55427-effd-4cb2-a6aa-0e5bcd710fd4"
                      d="M13,2H6A2,2,0,0,0,4,4V20a2,2,0,0,0,2,2H18a2,2,0,0,0,2-2V9Z" transform="translate(-3.29 -4.498)"
                      fill="none" stroke="" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" />
                    <path id="bfb920a1-24c1-4be1-99ec-baefb9b8729c" d="M13,2V9h7" transform="translate(-3.29 -4.498)"
                      fill="none" stroke="" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" />
                  </g>
                </g>
              </svg>
              <span>{{langName 'طلبات الشهادات' 'Certificate Requests'}}</span></a></li>
          <li class="navItem"><a href="{{ menuLink 'allRequests'  }}" class="navLink more normalInverted_ v2">
              <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 20 21.5">
                <g id="Icon" transform="translate(0 0.75)">
                  <rect id="Area" fill="" opacity="0" />
                  <g id="Icon-2" data-name="Icon" transform="translate(1.29 2.498)">
                    <path id="_7ceca6d9-7818-4488-abd0-a89475ab127b" data-name="7ceca6d9-7818-4488-abd0-a89475ab127b"
                      d="M14,2H6A2,2,0,0,0,4,4V20a2,2,0,0,0,2,2H18a2,2,0,0,0,2-2V8Z" transform="translate(-3.29 -4.498)"
                      fill="none" stroke="" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" />
                    <path id="bca4acb2-e9e9-49bc-aed0-2a1bc03e3030" d="M14,2V8h6" transform="translate(-3.29 -4.498)"
                      fill="none" stroke="" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" />
                    <line id="ecc486f2-1c64-4ed3-ad04-1562b13ca1ad" x1="8" transform="translate(4.71 8.502)" fill="none"
                      stroke="" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" />
                    <line id="_24204a68-e1e4-4814-bb16-8f6e8cc7e0f5" data-name="24204a68-e1e4-4814-bb16-8f6e8cc7e0f5"
                      x1="8" transform="translate(4.71 12.502)" fill="none" stroke="" stroke-linecap="round"
                      stroke-linejoin="round" stroke-width="1.5" />
                    <path id="_8e974fd9-3149-45bb-af89-e41dc7c0c648" data-name="8e974fd9-3149-45bb-af89-e41dc7c0c648"
                      d="M10,9H8" transform="translate(-3.29 -4.498)" fill="none" stroke="" stroke-linecap="round"
                      stroke-linejoin="round" stroke-width="1.5" />
                  </g>
                </g>
              </svg>
              <span>{{langName 'كل الطلبات' 'All Requests'}}</span></a></li>
          <li class="navItem"><a href="{{ menuLink 'paymentHistory'  }}" class="navLink more normalInverted_ v2">
              <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 18 19.5">
                <g id="Icon" transform="translate(0.007 0.759)">
                  <rect id="Area" width="18" height="18" transform="translate(-0.007 -0.007)" fill="" opacity="0" />
                  <g id="Icon-2" data-name="Icon">
                    <path id="f654c737-6619-4a49-b652-d4e6c2f40dcb"
                      d="M14.4,3.6h1.8A1.8,1.8,0,0,1,18,5.4V18a1.8,1.8,0,0,1-1.8,1.8H5.4A1.8,1.8,0,0,1,3.6,18V5.4A1.8,1.8,0,0,1,5.4,3.6H7.2"
                      transform="translate(-1.807 -1.809)" fill="none" stroke="" stroke-linecap="round"
                      stroke-linejoin="round" stroke-width="1.5" />
                    <rect id="e1829885-6702-45c4-8cc2-57a1ec3b9d6a" width="7.2" height="3.6" rx="1"
                      transform="translate(5.393 -0.009)" fill="none" stroke="" stroke-linecap="round"
                      stroke-linejoin="round" stroke-width="1.5" />
                  </g>
                </g>
              </svg>
              <span>{{langName 'تاريخ الدفع' 'Payment History'}}</span></a></li>
          <li class="navItem"><a href="{{ menuLink 'userDashboard'  }}" class="navLink more normalInverted_ v2">
              <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 18 19.5">
                <g id="Icon" transform="translate(0.007 0.756)">
                  <rect id="Area" width="18" height="18" transform="translate(-0.007 -0.007)" fill="" opacity="0" />
                  <g id="Icon-2" data-name="Icon">
                    <path id="_8e8318b5-2ffb-40ae-9954-0ce283ce8bb2" data-name="8e8318b5-2ffb-40ae-9954-0ce283ce8bb2"
                      d="M20,21V19a4,4,0,0,0-4-4H8a4,4,0,0,0-4,4v2" transform="translate(-3.007 -3.006)" fill="none"
                      stroke="" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" />
                    <circle id="_64c9f6a0-8133-4bdd-a532-cfd4a0b71a30" data-name="64c9f6a0-8133-4bdd-a532-cfd4a0b71a30"
                      cx="4" cy="4" r="4" transform="translate(4.993 -0.006)" fill="none" stroke=""
                      stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" />
                  </g>
                </g>
              </svg>
              <span>{{langName 'ملف تعريفي للمستخدم' 'User Profile'}}</span></a></li>
        </ul>
      </div>

    </div>
  </div>

  <div class="navbar_sec">
    <nav class="navbar-inner">
      <div class="loginBox">
        <form class="form-v3">
          <div class="input-field">
            <select data-select>
              <option> {{langName 'تسجيل الدخول' 'Login'}}</option>
              <option> {{langName 'تسجيل خروج' 'Logout'}}</option>
            </select>
          </div>
        </form>

        <div class="iconBox user">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40">
            <g id="Group_4826" data-name="Group 4826" transform="translate(-37 -136)">
              <circle id="Ellipse_138" data-name="Ellipse 138" cx="20" cy="20" r="20" transform="translate(37 136)"
                fill="#fff" />
              <g id="Icon" transform="translate(48.747 146.746)">
                <rect id="Area" width="16" height="16" transform="translate(0.253 0.253)" fill="#fcfcfc" opacity="0" />
                <g id="Icon-2" data-name="Icon" transform="translate(0.916 0)">
                  <path id="f77cc739-99ac-40a5-bbfa-4ec0f6a52345"
                    d="M19.116,22.168V20.335a3.668,3.668,0,0,0-3.668-3.668H8.112a3.668,3.668,0,0,0-3.668,3.668v1.834"
                    transform="translate(-4.444 -5.663)" fill="none" stroke="#1e3a56" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="2.222" />
                  <circle id="b8957723-bda0-4f86-9075-b6dea2be85e0" cx="3.668" cy="3.668" r="3.668"
                    transform="translate(3.668)" fill="none" stroke="#1e3a56" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="2.222" />
                </g>
              </g>
            </g>
          </svg>

        </div>
      </div>



      <ul class="navbar-nav ">
        {{!-- <li class="nav-item ">
          <a href="" class="nav-link speaker_">
            <svg xmlns="http://www.w3.org/2000/svg" width="21.502" height="20" viewBox="0 0 21.502 20">
              <g id="Icon" transform="translate(0.751)">
                <rect id="Area" width="20" height="20" fill="#fcfcfc" opacity="0" />
                <g id="Icon-2" data-name="Icon" transform="translate(1.29 2.498)">
                  <path id="df17477b-8ca5-4665-97b3-3d222d541f97" d="M11,5,6,9H2v6H6l5,4Z"
                    transform="translate(-3.291 -4.501)" fill="none" stroke="#1e3a56" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="1.5" />
                  <path id="af7ab82f-44a9-42a8-9905-26a759ac6195"
                    d="M19.074,4.931a10,10,0,0,1,0,14.143M15.543,8.462a5,5,0,0,1,0,7.071"
                    transform="translate(-3.291 -4.501)" fill="none" stroke="#1e3a56" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="1.5" />
                </g>
              </g>
            </svg>
          </a>
        </li> --}}
        <li class="nav-item no_hide">
          <a href="{{lang_switch}}" class=" lang_ nav-link">
            <span>{{langName 'En' 'العربية'}}</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link  theme-changer" data-theme="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19">
              <g id="Group_4825" data-name="Group 4825" transform="translate(-1698 -147)">
                <g id="Rectangle_332" data-name="Rectangle 332" transform="translate(1698 147)" fill="#d6d5d5"
                  stroke="#fff" stroke-width="1">
                  <rect width="19" height="19" stroke="none" />
                  <rect x="0.5" y="0.5" width="18" height="18" fill="none" />
                </g>
                <rect id="Rectangle_333" data-name="Rectangle 333" width="9" height="17" transform="translate(1699 148)"
                  fill="#1e3a56" />
              </g>
            </svg>

          </a>
        </li>
        {{!-- <li class="nav-item">
          <a href="#" class="nav-link scroll size lowerSize {{ menuActiveClass 'objectives'  }}"
            data-href="#objectives">
            <span>{{langName '-أ' '-A'}}</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link scroll size standard {{ menuActiveClass 'objectives'  }}" data-href="#objectives">
            <span>{{langName 'أ' 'A'}}</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link scroll size  higherSize {{ menuActiveClass 'objectives'  }}"
            data-href="#objectives">
            <span>{{langName '+أ' '+A'}}</span>
          </a>
        </li> --}}
      </ul>
    </nav>
  </div>
</header>